%div.main-bio
  =image_tag 'headshot.jpg'
  %h1 Rachel Pritzlaff
  %p Rachel Pritzlaff holds a BA with Honors in Dance and Gender and Women’s Studies from Connecticut College, where she studied with David Dorfman, Lisa Race, Adele Myers, Heidi Henderson, and Shani Collins-Achille.  Rachel is a collaborator/performer with Raja Kelly’s thefeath3rtheory and Reject Dance Theatre and has interned with Kyle Abraham/Abraham.in.Motion.  Rachel is on faculty at both the Tarrytown Y Dance Academy and Greenwich Dance Arts where she teaches Modern and Choreography.   She is a member of Tarrytown-based Rivertown Artists Workshop (RAW) and a friend of CLASSCLASSCLASS.  Rachel creates work under the title of Rachel Pritzlaff/Time Based Art that overhauls the ordinary with wit, precision, and absurd tendencies.
