%div.main-bio
  =image_tag 'headshot.jpg'
  %h1 Rachel Pritzlaff
  %p Banh mi 8-bit blog, Portland normcore kogi church-key mixtape deep v banjo occupy butcher single-origin coffee. Small batch Blue Bottle mumblecore, Marfa Shoreditch Bushwick gluten-free keytar Echo Park Tonx mixtape before they sold out selvage. Marfa next level Pinterest chillwave. Butcher chambray aesthetic Thundercats. Kale chips Echo Park Tonx flexitarian, readymade banh mi mlkshk cornhole Austin mustache ennui letterpress bitters disrupt Carles. Tumblr mixtape paleo banh mi lomo. Swag brunch Marfa tattooed, vegan Vice cornhole distillery hella post-ironic deep v DIY.
