-meta title: "Rachel Pritzlaff | Collaborators"

%div.main-bio
  =image_tag 'headshot.jpg'
  %h1 Rachel Pritzlaff
  %p Rachel Pritzlaff holds a BA with Honors in Dance and Gender and Women’s Studies from Connecticut College, where she studied with David Dorfman, Lisa Race, Adele Myers, Heidi Henderson, and Shani Collins-Achille.  Rachel is a collaborator/performer with Raja Kelly’s thefeath3rtheory and Reject Dance Theatre and has interned with Kyle Abraham/Abraham.in.Motion.  Rachel is on faculty at both the Tarrytown Y Dance Academy and Greenwich Dance Arts where she teaches Modern and Choreography.   She is a member of Tarrytown-based Rivertown Artists Workshop (RAW) and a friend of CLASSCLASSCLASS.  Rachel creates work under the title of Rachel Pritzlaff/Time Based Art that overhauls the ordinary with wit, precision, and absurd tendencies.
  =image_tag 'aaron.jpg'
  %h1 Aaron Samuel Davis
  %p Aaron began dancing at the age of 14 at The Williams School in New London, CT under the tutelage of Barbara ‘Bo’ Parish. During his senior year of high school, Aaron earned a scholarship through the New London Scholars program that allowed him access to a tuition-free class at Connecticut College. Since enrolling at Connecticut College, Aaron has had the privilege of performing in the works of Shani Collins-Achille, Lisa Race, David Dorfman, Adele Myers, Faye Driscoll, Paul Matteson and Nicholas Leichter.  Aaron would like to thank Rachel Pritzlaff for this opportunity.
  =image_tag 'bethany.jpg', class: 'vert'
  %h1 Bethany Disque
  %p Bethany Disque received her Bachelor of Arts at the University of Maryland in Spring 2013. There, she was the president of the Student Dance Association and Director/choreographer of Phunktions Hip Hop Dance Company. Her own work, If only I knew, was shown in the Maryland Dance Ensemble, the 31st Annual Choreographers’ Showcase, and the Dance Bethesda Dance Concert. She is currently dancing for PEARSONWIDRIG DANCETHEATRE.
  =image_tag 'grant.jpg', class: 'vert'
  %h1 Grant Jacoby
  %p Grant Jacoby is a Boston-based dancer, choreographer, and teacher. He graduated Magna Cum Laude from Connecticut College in 2013, where he received his BA in Dance and Theater and had the pleasure of working with such distinguished artists as David Dorfman, Lisa Race, Adele Myers, Heidi Henderson, and Shani Collins-Achille. He also studied at Trinity/La MaMa Urban Arts Semester, MADE in France, and Movement Workshop Group's Graham Intensive Dance Collective. Grant founded Grant Jacoby & Dancers in October 2013 and has presented work at La MaMa ETC, Green Street Studios, The Dance Complex, Les Champs Melisey, Trinity Performance Lab, Connecticut College, RAW Boston, and with Obie Award-Winning Peculiar Works Project. Grant currently teaches at Boston Ballet and OnStage Dance Company and dances for Mariah Steele/Quicksilver Dance, as well as other Boston-based artists.
  =image_tag 'mei.jpg', class: 'vert'
  %h1 Mei Maeda
  %p Mei Maeda grew up dancing in southern New Hampshire and graduated cum laude and Phi Beta Kappa from Smith College with a BA in Dance and Psychology. At Smith, she had the privilege of studying with Angie Hauser, Chris Aiken, Paul Matteson, Candice Salyers, and Rodger Blum and has performed in works by Ohad Naharin, Robert Battle, Idan Cohen, and Angie Hauser. Mei recently relocated to New York and is thrilled to be working with TBA for her first project in the city.
  =image_tag 'jacob.jpg', class: 'vert'
  %h1 Jacob Rosenbaum
  %p Jacob Rosenbaum hails from Boston, MA and will be graduating from Connecticut College this May with a BA in Theater. His dance background includes years of musical theater as well as formal training in ballet and modern under Adele Meyers, Lisa Race, and David Dorfman. He has also trained as a theatre artist at the British American Drama Academy in London, England and at the National Theater Institute at the Eugene O'Neil Theater Center in Waterford, CT.  He is extremely excited to be dancing with such wonderful humans.
  =image_tag 'skyler.jpg'
  %h1 Skyler Volpe
  %p Skyler Volpe is an NYC-based artist. She holds BA’s (cum laude) in Dance, Sociology, and French from Connecticut College. Skyler has performed at the Red Hook Festival (Nicholas Leichter and Dancers), AUNTS Arts @Renaissance (Ayano Elson), and in the works of David Dorfman, The BANG Group, and Kyle Abraham, among many others. Skyler’s choreography has been presented by Eugene Lang College The New School for Liberal Arts and by The Emerging Artist’s Theatre. She is so excited to continue working with Time Based Art.
