-meta title: "Rachel Pritzlaff | Repertory"

%h1.repertory TBA in Performance/Repertory

%div.repertory
  =image_tag 'in_on_the_show.jpg'
  %span
    %h2 "In/On the Show"
    %h3 <i class="fa fa-users"></i> Duet
    %h3 <i class="fa fa-calendar"></i> June 2014

%div.repertory
  =image_tag 'clockwork.jpg'
  %span
    %h2 "Something About Clockwork"
    %h3 <i class="fa fa-user"></i> Solo
    %h3 <i class="fa fa-calendar"></i> September 2013

%div.repertory
  =image_tag 'not_a_body.jpg'
  %span
    %h2 "Not a Body but a Building:<br>Area Under Deconstruction"
    %h3 <i class="fa fa-users"></i> Ensemble
    %h3 <i class="fa fa-calendar"></i> May 2013

%div.repertory
  =image_tag 'space.jpg'
  %span
    %h2 "That's the Space"
    %h3 <i class="fa fa-users"></i> Ensemble
    %h3 <i class="fa fa-calendar"></i> April 2013

%div.repertory
  =image_tag 'flour.jpg'
  %span
    %h2 "Let's see if we can do this in one take"
    %h3 <i class="fa fa-users"></i> Trio
    %h3 <i class="fa fa-calendar"></i> November 2012
