%h1 Upcoming Performances
%ul.fa-ul.upcoming
  %li <i class="fa-li fa fa-calendar"></i> Friday, April 4th @ 8PM<br>Triskelion Arts<br>Comedy in Dance Festival<br><span> "Not a Body but a Building: Area Under Deconstruction"</span>
