-meta title: "Rachel Pritzlaff | Upcoming"

%h1 Upcoming Performances

%ul.fa-ul.upcoming
  %li <i class="fa-li fa fa-calendar"></i> Friday, April 4th @ 8PM<br>Triskelion Arts<br>Comedy in Dance Festival (<a href="http://www.triskelionarts.org/comedy-in-dance-festival-2014" target="_blank">more info</a> | <a href="http://www.brownpapertickets.com/event/575359" target="_blank">buy tickets</a>)<br><span> "Not a Body but a Building: Area Under Deconstruction"</span>

%div.fotorama(data-width="100%" data-nav="thumbs" data-allowfullscreen="true" data-keyboard="true" data-loop="true" data-arrows="true" data-click="true" data-swipe="true" data-trackpad="true" data-autoplay="3000")
  =image_tag 'ht1.jpg'
  =image_tag 'ht2.jpg'
  =image_tag 'ht3.jpg'
  =image_tag 'ht4.jpg'
  =image_tag 'ht5.jpg'
  =image_tag 'ht6.jpg'
  =image_tag 'not_a_body.jpg'
  =image_tag 'ht7.jpg'
